.nav {
  padding: 0 1.5rem;
  height: 10%;
  background-color: #2b2b2b;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .logo {
    height: 80%;
    img {
      height: 100%;
    }
  }
  .links {
    display: flex;
    gap: 1rem;
    .link {
      text-decoration: none;
      color: #a8b3cf;
      letter-spacing: 0.05rem;
      font-weight: 400;
      font-size: large;
    }
    .link:hover {
      color: #4570b9;
    }
  }
}
